*, *::after, *::before{
    box-sizing: border-box;
}

html, body{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: sans-serif;
}
image{
    object-fit: cover;
}

header {
    background-color: hsl(0deg 100% 0%);
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.img-wrapper,.img-wrapper > img{
    height: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main > div {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    height: max-content;
}

div > img {
    width: 100%;
}

div > p {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: max-content;
    height: max-content;

    font-size: 2.5rem;
    text-transform: uppercase;
    color: hsl(0deg 100% 100%);
    font-weight: bold;

}

.midle-width{
    width: 50%;
}

section {
    display: flex;
    width: 100%;
}

section > div{
    display: flex;
    position: relative;
    width: 630px;
    padding: 20px 0;
    height: max-content;
    border-radius: 50%;
    overflow: hidden;
}

section > div > p {
    max-width: 500px;
    text-align: center;
}